body{
 
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Playfair Display', serif;
    margin: 0;
    color: #C5C6C7;
}
img.header-img{
    height: 300px;
    width: 100%;
    background-position: center;
    position: absolute;
    top: 0px    
}
.top-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 100px;
}
ul{
    display: flex;
    flex-wrap: nowrap;
}
a{
    color: #66FCF1;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 50px;
}
a:hover{
    text-decoration: underline;
    color: #45A29E;
}
.mobile-view{
    display: none;
}
.logo{
    width: 200px;
    position: relative;
    top: 20px;
}
.home-content{
    position: relative;
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;

}
h1{
    font-size: 60px;
}
.contact-page{
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
}
.socials{
    display: flex;
    flex-direction: column;
}
i.fa-brands{
    padding: 20px;
    font-size: 38px;
    color: #66FCF1;
}
i.fa-brands:hover{
    color: #45A29E;
    font-size: 40px;
}
hr{
    height: 1px;
    width: 50%;
    background-color: #66FCF1;
    margin-top:  50px;
    border: none;
    margin-top: 50px;
}
h4{
    text-align: center;   
}
.form-items{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 10px 50px;
    width: 50%;
}
form{
    text-align: center;
}
input{
    padding: 20px;
}
.inputs{
    margin: 10px;
}
textarea:focus, input:focus{
    outline: none;
}
.inputs-button{
    padding: 10px;
    margin: 0 0 0 60px;
    float:left ;
    background-color: #66FCF1;
    border: none;
    font-size: 15px;  
    width: 8%;
    height: 40px;
    border-radius: 10px;
}
.inputs-button:hover{
    background-color: #45A29E;
}
textarea{
    width: 370px;
    justify-content: center;
    padding: 20px;
}






@media screen and (max-width: 766px) {
    .header-img{
        max-height: 200px;        
    }
    .top-bar{
        margin: 0 30px 0 30px;
    }
    a{
        display: none;
    }
    .mobile-view{
        display: block;
        color: #45A29E;
        font-size: 30px;
        margin: 20px;
        position: relative;
        top: 50px;
    }
    .mobile-view:hover{
       color: #66FCF1;
    }
    .logo{
        width: 150px;
    }
    ul{
        display: none;
    }
    .my-image{
        display: none;
    }
    i.fa-brands{
        padding-bottom: 30px;
        font-size: 30px;
    }
    input{
        padding: 10px;
    }
    .inputs{
        margin: 5px;
    }
    div.inputs-button{
        padding: 10px;
    }
    .form-items{
        display: flex;
        padding: 20px 100px 20px 100px;
    }
    .inputs-button{
        display: flex;
        justify-content: center;
        margin: 0 0 0 110px;
        width: 80px;
        text-align: center;
    }
    textarea{
        width: 170px;
        justify-content: center;
    }





}