body{
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Playfair Display', serif;
    margin: 0;
    color: #C5C6C7;
}
img.header-img{
    height: 300px;
    width: 100%;
    background-position: center;
    position: absolute;
    top: 0px    
}
.top-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 100px;
}
ul{
    display: flex;
    flex-wrap: nowrap;
}
a{
    color: #66FCF1;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 50px;
}
a:hover{
    text-decoration: underline;
    color: #45A29E;
}
.mobile-view{
    display: none;
}
.logo{
    width: 200px;
    position: relative;
    top: 20px;
}
.home-content{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dfe9e9;
}
.text {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
hr{
    height: 1px;
    width: 50%;
    background-color: #66FCF1;
    margin-top:  100px;
    border: none;
}
h4{
    text-align: center;    
}
.project-container{
    margin: 20px 50px ;
}
.project-img{
    height:350px;
    margin-left:150px;
    padding: 20px;
}
p{
    font-size: 15px;
    margin: 0; 
    text-align: center; 
    color: #C5C6C7;
}
a:hover{
    text-decoration: none;
}
span{
    text-decoration: underline;
}




@media screen and (max-width: 766px) {
    .header-img{
        max-height: 200px;        
    }
    .top-bar{
        margin: 0 30px 0 30px;
    }
    a{
        display: block;
        margin: 0 50px 50px 50px;
    }
    .mobile-view{
        display: block;
        color: #45A29E;
        font-size: 30px;
        margin: 20px;
        position: relative;
        top: 50px;
    }
    .mobile-view:hover{
       color: #66FCF1;
    }
    .logo{
        width: 150px;
    }
    ul{
        display: none;
    }
    .home-content{
        flex-direction: column;
        margin-left: 0;

    }
    .project-img{
        margin: 10px;
        width: 500px;
        padding: 10px;
    }
    .project-container{
        margin: 20px;
    }

    
}