body{
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Manrope', sans-serif;
}
img.header-img{
    height: 300px;
    width: 100%;
    background-position: center;
    position: absolute;
    top: 0px 
    
}
a{
    float: right;
    top: 50px; 
    position: relative;
    color: #66FCF1;
    text-decoration: none;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    color: #45A29E;
}
.mobile-view{
    display: none;
    position: relative;
}





@media screen and (max-width: 766px) {
    body{
        margin: 0px;

    }
    .header-img{
        max-height: 100px;        
    }
    a{
        top: 20px;
        display: none;
    }
    .mobile-view{
        display: block;
        color: #66FCF1;
        margin: 20px;
        float: right;
        font-size: 20px;
        font-weight: bold;
    }
    .mobile-view:hover{
        padding: 5px;
        border: 2px solid #45A29E;
        border-radius: 20px 30px;
    }
}