body{
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}
img.header-img{
    height: 300px;
    width: 100%;
    background-position: center;
    position: absolute;
    top: 0px 
}







@media screen and (max-width: 480px) {

    .header-img{
        max-height: 100px;
        
    }
}