body{
    background-color: #fff;
    text-align: center;
}
h1{
    color: #45A29E;
    margin-top: 200px;
}
h3{
    color: black;
    font-size: 40px;
}
a{
    color: black;
    font-size: 20px;
    border: 2px solid #45A29E
}
a:hover{
    color: #C5C6C7;
    text-decoration: none;
    border: 2px solid #C5C6C7;
}
@media screen and (max-width: 766px) {
    h3{
        font-size: 20px;
    }
    h1{
        margin-top: 100px;
        font-size: 30px;
    }
    a{
        display: block;
        text-align: center;
        width: 120px;
        margin-left: 280px;
    }


}